</div>
    </div>
    </div>
    <footer>
    	<p class="text-center">Pumidor>: LA is Alive &copy; 2016, All Rights Reserved </p>
    </footer>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="/js/main.js"></script>
          <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">
    <!-- font awesome icons -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
    
</body>
</html>